body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
    text-align: center;
}
.search-heading {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
}

.search-controller {}

.search-location {
    height: 60px;
    background-color: #ffffff;
    margin: 10px;
    display: inline-block;
}

.input-dimensions {
    height: 100%;
    width: 100%;
}

.logo {
    margin: auto !important;
    font-family: Poppins;
    font-size: 70px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
    text-align: left;
    color: #eb2929;
    width: 147px;
    height: 147px;
    border-radius: 50%;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    line-height: 147px;
}

.logo-container {
    padding: 0;
    margin: 0;
}

.restaurant-name {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.restaurant-address {
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
}

.address-container {
    padding: 0px 50px;
}

.restaurant-logo {
    height: 43px;
    width: 43px;
    border-radius: 50%;
}

.rbt input {
    height: 60px;
}

.search-restaurant {
    height: 60px;
    background-color: #ffffff;
    margin: 10px;
    display: inline-block;
}

.search-container {
    background-image: url('/assets/foodWallpaper.png');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(157, 14, 14, 0)), to(#4f0707));
    background-image: -webkit-linear-gradient(top, rgba(157, 14, 14, 0), #4f0707);
    background-image: -o-linear-gradient(top, rgba(157, 14, 14, 0), #4f0707);
    background-image: linear-gradient(to bottom, rgba(157, 14, 14, 0), #4f0707);
    background-color: black;
    min-height: 500px;
    padding-top: 80px;
}
.rbt-menu {
    margin-bottom: 2px;
}

.rbt-menu > li a {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.rbt-menu > li a:focus {
    outline: none;
}

.rbt-menu-pagination-option {
    text-align: center;
}

.rbt .rbt-input-main::-ms-clear {
    display: none;
}

.rbt-input-multi {
    cursor: text;
    overflow: hidden;
    position: relative;
    height: auto;
}

.rbt-input-multi.focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-color: #66afe9;
    outline: 0;
}

.rbt-input-multi.form-control[disabled] {
    background-color: #e9ecef;
    opacity: 1;
}

.rbt-input-multi input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.rbt-input-multi input:-ms-input-placeholder {
    color: #999;
}

.rbt-input-multi input::-webkit-input-placeholder {
    color: #999;
}

.rbt-input-multi .rbt-input-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -4px;
    margin-top: -1px;
    overflow: hidden;
}

.rbt-input-multi .rbt-input-main {
    height: 20px;
    margin: 1px 0 4px;
}

.rbt-input-multi.input-lg .rbt-input-main,
.rbt-input-multi.form-control-lg .rbt-input-main {
    height: 24px;
}

.rbt-input-multi.input-sm .rbt-input-main,
.rbt-input-multi.form-control-sm .rbt-input-main {
    height: 18px;
}

.rbt-close {
    z-index: 1;
}

.rbt-close-lg {
    font-size: 24px;
}

.rbt-token {
    background-color: #e7f4ff;
    border: 0;
    border-radius: 2px;
    color: #1f8dd6;
    display: inline-block;
    line-height: 1em;
    margin: 0 3px 3px 0;
    padding: 4px 7px;
    position: relative;
}

.rbt-token-disabled {
    background-color: #ddd;
    color: #888;
    pointer-events: none;
}

.rbt-token-removeable {
    cursor: pointer;
    padding-right: 21px;
}

.rbt-token-active {
    background-color: #1f8dd6;
    color: #fff;
    outline: none;
    text-decoration: none;
}

.rbt-token .rbt-token-remove-button {
    bottom: 0;
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    opacity: 1;
    outline: none;
    padding: 3px 7px;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: -2px;
}

.rbt-loader {
    -webkit-animation: loader-animation 600ms infinite linear;
    animation: loader-animation 600ms infinite linear;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    border-top-color: #1f8dd6;
    display: block;
    height: 16px;
    width: 16px;
}

.rbt-loader-lg {
    height: 20px;
    width: 20px;
}

.rbt-aux {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    /* Don't block clicks on the input */
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
}

.rbt-aux-lg {
    width: 46px;
}

.rbt-aux .rbt-close {
    margin-top: -4px;
    pointer-events: auto;
    /* Override pointer-events: none; above */
}

.has-aux .rbt-input {
    padding-right: 34px;
}

.rbt-highlight-text {
    background-color: inherit;
    color: inherit;
    font-weight: bold;
    padding: 0;
}
/* Input Groups */

.input-group > .rbt {
    -ms-flex: 1 1;
    flex: 1 1;
}

.input-group > .rbt .rbt-input-hint,
.input-group > .rbt .rbt-aux {
    z-index: 5;
}

.input-group > .rbt:not(:first-child) .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .rbt:not(:last-child) .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* Validation States */

.has-error .rbt-input-multi.focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-warning .rbt-input-multi.focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-success .rbt-input-multi.focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

@-webkit-keyframes loader-animation {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes loader-animation {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.search-heading {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
}

.search-controller {}

.search-location {
    min-width: 245px;
    height: 60px;
    background-color: #ffffff;
    margin: 10px;
}

.search-restaurant {
    width: 477px;
    height: 60px;
    background-color: #ffffff;
    margin: 10px;
}

.search-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(157, 14, 14, 0)), to(#4f0707)), url('/assets/foodWallpaper.png');
    background-image: -webkit-linear-gradient(top, rgba(157, 14, 14, 0), #4f0707), url('/assets/foodWallpaper.png');
    background-image: -o-linear-gradient(top, rgba(157, 14, 14, 0), #4f0707), url('/assets/foodWallpaper.png');
    background-image: linear-gradient(to bottom, rgba(157, 14, 14, 0), #4f0707), url('/assets/foodWallpaper.png');
    background-color: black;
}
.quick-search-container {
    background-color: #fbfbfb;
}

.quick-search-heading {
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-left: 30px;
    padding-top: 30px;
}

.quick-search-subheading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
    margin-left: 30px;
}

.quick-search-tile-container {
    width: 360px;
    height: 160px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    margin: 15px;
}

.image-container {
    padding: 0 !important;
}

img {
    height: 160px;
    width: 150px;
}

.content-heading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding: 10px 20px 5px 30px;
}

.content-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
    padding: 0px 20px 5px 30px;
}