.search-heading {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
}
.search-controller {

}
.search-location {
  min-width: 245px;
  height: 60px;
  background-color: #ffffff;
  margin: 10px;
}

.search-restaurant {
  width: 477px;
  height: 60px;
  background-color: #ffffff;
  margin: 10px;
}

.search-container {
  background-image:  linear-gradient(to bottom, rgba(157, 14, 14, 0), #4f0707), url('/assets/foodWallpaper.png');
  background-color: black;
}
